<a href="https://colab.research.google.com/github/HwiHwiK/MEDIUM_NoteBook/blob/master/python%EA%B8%B0%EC%B4%88(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=3

In [4]:
a

3

In [5]:
print(a)

3

In [6]:
a+5

8

In [7]:
print(a+5)

8

In [8]:
 a=3
 b=4
 print(a-b)

-1

In [10]:
# 자료형
# 정수형
a = 3
type(a)
# integer(정수) a를 정수형 자료라고 말함

int

In [11]:
# 실수형
b = 3.3
type(b)
# float - b를 실수형 자료

float

In [13]:
# 문자형
c = 'hello'
type(c)
# str - c는 문자형 자료

str

In [16]:
# 리스트
list1 = ['a','b','c','d','e']
type(list1)
print(list1)

['a', 'b', 'c', 'd', 'e']

In [25]:
# 리스트 활용법
list1 = [1,2,3,4,5]
print(list1[0])
print(list1[4])
# 순서는 0번째부터 시작함

1
5

In [26]:
# append
list1 = [1,2,3,4,5]
list1.append(6)
print(list1)
# 리스트를 추가하고자 할 때 쓰는 함수

[1, 2, 3, 4, 5, 6]

In [27]:
# 리스트가 두개일 경우 : extend
list1 = [1,2,3]
list2 = ['a','b','c'] 
list1.extend(list2)
print(list1)

[1, 2, 3, 'a', 'b', 'c']